bg-pag=#fff
c-header=#000
bg-header=#fff
bg-footer=#0D1011
c-footer=#fff

// fondo-b1=#173036
fondo-b1=#C01C45
fondo-b2=red
fondo-b3=#1C9CB2
fondo-b4=#2e2e2e

*,*:before,*:after
	box-sizing border-box
  
body,*
	font-family 'extralight', sans-serif
	margin 0
	padding 0

body
	background-color bg-pag

img
	height auto
	max-width 100%
	
a
	text-decoration none
	&:hover
		text-decoration underline